<%= form_for @user do |f| %>

  <ul class="no-list-style">

    <li><%= f.text_field(:first_name, placeholder: "First Name", class: "form-field") %></li>

    <li><%= f.text_field(:last_name, placeholder: "Last Name", class: "form-field") %></li>

    <li><%= f.text_field(:username, placeholder: "Username", class: "form-field") %></li>

    <li><%= f.text_field(:email, placeholder: "Email", class: "form-field") %></li>

    <li><%= f.password_field(:password, placeholder: "Password", class: "form-field") %></li>

    <li><%= f.password_field(:password_confirmation, placeholder: "Password Confirmation", class: "form-field") %></li>

    <li><%= f.submit 'Submit' %></li>

  </ul>

<% end %>