<ul class="no-list-style">

  <%=form_for @user_bookmark do |f|%>

    <li class="inline"><%=f.text_field :name, required: true, placeholder: "Name", id: "url-name-form-field" %></li>

    <%=f.fields_for :folder do |h| %>

      <li class="inline"><%= h.collection_select(:folder_id, current_user.folders, :id, :name) %></li>

    <% end %>

    <%=f.fields_for :bookmark do |g|%>

      <li class="inline"><%=g.text_field "url", required: true, disabled: !@user_bookmark.new_record?, placeholder: "URL", id: "url-form-field" %></li>

    <%= submit_tag %>

    <%end%>

  <%end%>

</ul>
