<div class="static-width">
  <div class="row">
    <div class="col-10 col-offset-1">
      <%=link_to "new", new_user_bookmark_path%>
      <ul class="no-list-style">
        <%@user_bookmarks.each do |resource|%>
          <div class="row">
            <li class="inline"><%=link_to resource.name, resource.bookmark.url, :target => "_blank"%></li>
            <li class="inline"><%=link_to "edit", edit_user_bookmark_path(resource)%></li>
            <li class="inline"><%=link_to "delete", user_bookmark_path(resource), method:"delete"%></li>
              <ul>
                <%resource.categories.each do |tag|%>
                  <li><%=tag.name%></li>
                <%end%>
              </ul>
          </div>
        <%end%>
      </ul>
    </div>
  </div>
</div>
