  <div>
    <%=link_to "new", user_bookmarks_path%>
    <%@user_bookmarks.each do |resource|%>
      <%=resource.name%>
      <%=resource.bookmark.url%>
      <div>
      <%resource.categories.each do |tag|%>
        <%=tag.name%>
      <%end%>
      <%=link_to "edit", edit_user_bookmark_path(resource)%>
      <%=link_to "delete", user_bookmark_path(resource), method:"delete"%>
      </div>
    <%end%>
  </div>
<!-- realistically these will be partials when we implement js in our front end-->