<div>
  <p><%=link_to "new", new_user_bookmark_path%></p>
    <%@user_bookmarks.each do |resource|%>
    <p><%=link_to resource.name, resource.bookmark.url%></p>
      <div>
      <%resource.categories.each do |tag|%>
        <%=tag.name%>
      <%end%>
      <%=link_to "edit", edit_user_bookmark_path(resource)%>
      <%=link_to "delete", user_bookmark_path(resource), method:"delete"%>
      </div>
    <%end%>
  </div>
<!-- realistically these will be partials when we implement js in our front end-->