<!DOCTYPE html>
<html>
  <head>
    <title>Swiss</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  </head>
  <body>

    <div class="header row">
      <div class="header col-12">
        <div class="col-10 col-offset-1">
          <div class="static-width">
            <div class="col-5 header-links">
              <%= link_to "Dashboard", user_bookmarks_path, class: "link white" %>
            </div>
            <div class="col-2 center">
              <h1><%= link_to (image_tag("logo.png", class: "logo")), root_path, class: "link white" %></h1>
            </div>
            <div class="col-5 header-links right link white">
              <%= link_to "Logout", logout_path, class: "link white" %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <% if flash[:notice] || flash[:warning] || flash[:error] %>
      <div class="row">
        <div class="col-12">
          <div class="static-width">
            <div class="col-4 col-offset-4 center">
              <ul class="no-list-style">
                <li><%= flash[:notice] %></li>
                <li><%= flash[:warning] %></li>
                <li><%= flash[:error] %></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <% if defined?(@user.errors) %>
      <div class="row">
        <div class="col-12">
          <div class="static-width">
            <div class="col-4 col-offset-4 center">
              <ul class="no-list-style">
                <% @user.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <div id="ajax" class="main-content">
      <%= yield %>
    </div>

    <div class="row">
      <div class="footer col-12">
        <div class="col-10 col-offset-1 center">
          <div class="static-width">
            <p class="white">2016 SWISS ©, All Rights Reserved</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
