<!DOCTYPE html>
<html>
  <head>
    <title>Swiss</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="row">
      <div class="col-12">
        <div class="static-width">
          <div class="col-10 col-offset-1 right">
              <nav>
                <ul class="no-list-style">
                  <% if logged_in? %>
                    <li class="inline"><%= link_to 'Log out', logout_path, class: "link" %></li>
                  <% else %>
                    <li class="inline"><%= link_to 'Join', new_user_path, class: "link" %></li>
                    <li class="inline"><%= link_to 'Log In', login_path, class: "link" %></li>
                  <% end %>
                </ul>
              </nav>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="static-width">
          <div class="col-4 col-offset-4 center">
            <h1><%= link_to "SWISS", root_path, class: "link" %></h1>
          </div>
        </div>
      </div>
    </div>


    <% if defined?(@user.errors) %>
      <div class="row">
        <div class="col-12">
          <div class="static-width">
            <div class="col-4 col-offset-4 center">
              <ul class="no-list-style">
                <% @user.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    <% end %>


    <%= yield %>

  </body>
</html>
