<!DOCTYPE html>
<html>
<head>
  <title>Swiss</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

 <nav>
    <ul>
      <center><h1><%= link_to "Welcome To Swiss!", root_path %></h1></center>
        <% if logged_in? %>
        <li><%= link_to 'Log out', logout_path %></li>
        <% else %>
        <li><%= link_to 'Join', new_user_path %></li>
        <li><%= link_to 'Log In', login_path %></li>
        <% end %>
    </ul>
  </nav>
  <% if defined?(@user.errors) %>
  <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
<% end %>

<%= form_tag(user_bookmarks_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search", id: "search-field" %>
<% end %>



<%= yield %>

</body>
</html>
